/*style login heading here*/
.login_heading{
margin-left: 75px;
background-image: linear-gradient(to right,#11998e,#38ef7d);
background-size: 100%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}
/*style login devisions*/
.login_div{
	display: flex;
}
.eop,.lgp{
	position: absolute;
	
	background-color: none;
	height: 50px;
	display: block;
	text-align: left;
}
.eop{
    width: 271px;
	margin-top: 20px;
	margin-left:30px;
}
.lgp{
    width: 252px;
    float: right;
	margin-top: 20px;
	margin-left:430px;
}
.eop_label,.lgp_label{
    position: absolute;
    top: 0px;
    left: -2px;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    margin-top: 23px;
    margin-left: 3px;
}
.eop_label,.eop_t{
    width: 400px;
}
.lgp_label{width:  247px;}
.eop_t,.lgp_t{
	border:0;
	border-bottom: 3px solid #fff;
	background: transparent;
	font-size: 20px;
	color:white;
	margin-top: 24px;
}
.eop_t{width:360px;}
.lgp_t{width: 200px;}
.eop_t:focus,.lgp_t:focus{
	border: none;
	outline: none;
	border-bottom: 3px solid ;
	border-image: linear-gradient(to right, #11998e,#38ef7d);
	border-image-slice: 1;
}
.eop_t:focus ~.eop_label,
.eop_t:valid ~ .eop_label,
.lgp_t:focus ~ .lgp_label,
.lgp_t:valid ~ .lgp_label{
	top:-25px;
	font-size: 15px;
	background-image: linear-gradient(to right,#11998e,#38ef7d);
background-size: 100%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
/*style signin div*/
.sign_in{
   position: absolute;
   width: 300px;
   justify-content: center;
   align-items: center;
   top: 50%;
   margin-left:300px;
}
/*style Login button and label*/
.btnlogin{
	position:relative;
	margin-top: 50px;
	margin-left: 650px;
	height: 20px;
	width:100px;
	padding: 5px;
	border-radius: 10px;
	color:white;
	background-color: #6B0377;
	cursor: pointer;
	column-rule-color: #3F00E6;
	text-align: center;
	text-decoration: none;
	float:right;
}

.btnca{
	height: 40px;
	width: 300px;
	padding: 5px;
	border-radius: 10px;
	color:white;
	background-color: #6B0377;
	cursor: pointer;
	column-rule-color: #3F00E6;
	text-decoration: none;	
}


.login_p{color:white;
                font-weight:bold;
                font-size:1.5em;;
                text-align: center;}

.password_login{ border-radius:4px;
width: 240px;
height:20px;}

/*modal background style*/
.bg-modal{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position:absolute;
	top:0;
	display: flex;
	justify-content: center;
	align-items:center;
    visibility: hidden;
	transition: 0.5;
}

/*modal content style*/
.modal-content{
	width: 300px;
	height:600px;
	background-color:#800080;
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	position: relative;
    display:flex;
    justify-content: center;
    visibility: hidden;
	transition: 0.5;
}
/*This CSS codes for changing the visibility
of model division on click*/
.bg-modal:target{
	visibility: visible;
}
#bg_modal:target .modal-content{
	visibility: visible;
}


.button{background-color: blueviolet;
        padding: 5px;
        border-radius: 15px;
        text-color:white;}

#fn_ca, #ln_ca, #em_ca, #pn_ca,#cnp_ca, .ca_p{width:80%;
       display: block;
       margin: 15px auto;}

.close{position: absolute;
       top:0;
       right: 14px;
       font-size: 42px;
       transform: rotate(45deg);
	   cursor: point;}

.ca_cabtn{
	border-style:inset;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	color:white;
	border-radius: 20px;
	border-width:thin;
	padding-left: 50px;
	padding-right: 50px;
	cursor: pointer;
	background-color:#6B0377;
}
.ca_cabtn:hover{
	background-color:#470346;
}

#h3_ca{
	color: white;
	
}
label{color:white;}

.close_btn ,.afp{
	color:white;
}
.mainheading{
	float: left;
	width: 877px;
	height: 300px;
	text-align: center;
}
.ca_p{width: 240px;
      border-radius: 10px;
      height: 25px;}
.ca {
	height: 25px;
	width: 300px;
	border-radius: 10px;
	font-size: 15px;
}

#h3_ca{
	font-size: 30px;
}


/*left side div*/
.left{
	width: 50%;
	height: 759px;
	background-image:url("kids in classroom.jpg");
	background-size: cover;
	position: absolute;
	margin:0px;
}

/*right side div*/
.right{
	width: 50%;
	height:759px;
	background-color:#340033;
	float:right;
}

/*left side heading (h1)*/
.left_heading{
	background-image: linear-gradient(to right,#11998e,#38ef7d);
background-size: 100%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
	border-image-slice: 1;
	font-size: 5em;
	text-align: center;
	font-style: italic;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

/*left subheadings style*/
.left_subheadings_ln{
	padding: 10px;
	color:white;
	font-style: italic; 
	border-color: black;
	border-width: thick;
	border-style: none;
	background-color: none;
	text-decoration: none;
	font-size: 1em;
	font-weight:bold;
}
.left_subheadings_ln:hover{
	background-color: #800080;
	font-color:white;
background-image: linear-gradient(to right,#11998e,#38ef7d);
-webkit-text-fill-color:#800080;
   
}
#ln_si{
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}
#ln_En{
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}
.btnlogin:hover{
	background:#480045;
	color:#38ef7d;
}
