/* CSS Document */
.wallnav{
	background-color: #800080;
	width:auto;
	height:  60px;
	justify-content: right;
}
.wallhome, .walllms{
	width: 40px;
	height: 40px;
	padding: 10px;
	cursor:pointer;
}
.navul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.navli{
	float: left;
}

.search{
width:100px;
padding: 5px;
border-radius: 10px;
border: none;
border: 1px solid black;
font-size: 17px;
text-align: left;
margin-top: 15px;
transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 500px;
  
}