:root{
    /*primary colors*/
    --primary-dg:#1E352F;
    --primary-mg:#2D4A42;
    --primary-lg:#35574D;
    --primary-w:#FFFFFF;

    --secondary-gra:#858585;
    --secondary-lg:#14CC0E;

    --accent-ora:#FF8C00;
    --accent-red:#FF0606;
    --accent-bl:#1A82F9;

    /*hover colors*/
    --primary-dg-hover:#142420;
    --primary-mg-hover:#233A34;
    --primary-lg-hover:#2D4941;
    --primary-w-hover:#F2F0F0;

    --secondary-gra-hover:#666565;
    --secondary-lg-hover:#10880C;

    --accent-ora-hover:#B76500;
    --accent-red-hover:#A00505;
    --accent-bl-hover:#124D90;

    /*Disabled colors*/
    --primary-dg-dis:#2B3533;
    --primary-mg-dis:#3A4945;
    --primary-lg-dis:#4D5855;
    --primary-w-dis:#E1DEDE;

    --secondary-gra-dis:#5E5C5C;
    --secondary-lg-dis:#82C580;

    --accent-ora-dis:#FEC279;
    --accent-red-dis:#FC7878;
    --accent-bl-dis:#7FB9FA;
}
body{
    
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: var(--primary-w);
}

/*Log in buttons and create account buttons*/
.login_btn , .login_btn2 ,.ca_btn{
padding: 2px;
border-radius: 25px;
}
.login_btn , .login_btn2{
    background-color:var(--secondary-lg);
    
}
.login_btn:hover ,.login_btn2:hover{
    background-color:var(--secondary-lg-hover);
    cursor: pointer;
}
.or{
    text-align: center;
    color: var(--primary-w);
}
.ca_btn{
    background-color:var(--accent-bl);
}
.ca_btn:hover{
    background-color:var(--accent-bl-hover);
    cursor: pointer;
}
.login_btn>h2, .login_btn2>h2, .ca_btn>h2{
    text-align: center;
    color:var(--primary-w);
    
}

/*Login modal(Overriding)*/
#or_mc{
    border-color: var(--secondary-lg);
    border-width: 3px;
    

}
#LoginModal{
    margin-top: 164px;
}

/* 1st row of modal*/
#btn_row1{
    margin-top: 440px;  
}
#mid_row{
    margin-top: 20px;
}
#btn_row2{
    margin-top: 20px;  
}

/* seccound row of modal*/
.row_2{
    margin-top: 10px;
}

#LoginModal>h2{text-align: center;
            color: var(--primary-w);
            
}

/*login modal elements*/
/* modal title overridding*/

/*input fields*/
/*email or phone numbers*/
/*Over riding*/
#lg_pn{
    border: none;
}
/*Over ridding ca*/
#or_ca{
    border-color: var(--accent-bl);
    border-width: 3px;
}
/*Create account modal row*/
.ca_m_row{
margin-top: 216px;
}