:root{
    /*primary colors*/
    --primary-dg:#1E352F;
    --primary-mg:#2D4A42;
    --primary-lg:#35574D;
    --primary-w:#FFFFFF;

    --secondary-gra:#858585;
    --secondary-lg:#14CC0E;

    --accent-ora:#FF8C00;
    --accent-red:#FF0606;
    --accent-bl:#1A82F9;

    /*hover colors*/
    --primary-dg-hover:#142420;
    --primary-mg-hover:#233A34;
    --primary-lg-hover:#2D4941;
    --primary-w-hover:#F2F0F0;

    --secondary-gra-hover:#666565;
    --secondary-lg-hover:#10880C;

    --accent-ora-hover:#B76500;
    --accent-red-hover:#A00505;
    --accent-bl-hover:#124D90;

    /*Disabled colors*/
    --primary-dg-dis:#2B3533;
    --primary-mg-dis:#3A4945;
    --primary-lg-dis:#4D5855;
    --primary-w-dis:#E1DEDE;

    --secondary-gra-dis:#5E5C5C;
    --secondary-lg-dis:#82C580;

    --accent-ora-dis:#FEC279;
    --accent-red-dis:#FC7878;
    --accent-bl-dis:#7FB9FA;
}

/*main navigation bar*/
#main_navbar{
    height: 56px;
    width: 100vw;
    background-color: var(--primary-mg);
    border: none;
    border-bottom: solid 0.5px var(--secondary-gra);
    
}

/* left column*/
#left_col,#right_col{
    margin-top: 8px;
}

/*Logo of platform (img tag)*/
.logo{
    width:40px;
    height:40px;
}
/*Search bar*/
#search{
    border-color: var(--secondary-gra);
    background-color: var(--primary-lg);
    border-radius: 25px;
    border-width: 1px;
    border-style:solid ;
    color: var(--primary-w);
}

/*Left column end*/

/*Mid column*/
.icon{
    width: 111.6px;
    height: 50px;
    margin: auto;
    margin-top: 2px;
    border-radius: 10px;
}

.LMS_hover:hover,
.clz_hover:hover,
.noti_hover:hover{
    background-color: var(--primary-lg);
    cursor: pointer;
}

/*section icon*/
.ps_ico,.LMS_ico,.clz_ico,.noti_icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

/*icon bg*/
.bg_nav_ico{
    position: absolute;
    margin-left:40px ;
    margin-top: 10px;
}

/*Nav select line*/
.nav_select_line{
    width: 107.6px;
    height: 3px;
    background-color: var(--secondary-lg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

#Icon_metro-earth{
    fill: var(--secondary-lg);
}
/*Nav right col*/
.nav_profile_name_wrapper_a:hover{
    text-decoration: none;
    cursor: pointer;
}
.nav_profile_name_wrapper{
    width:max-content;
    height: 38px;
    border-radius: 35px;
    color: var(--primary-w); 
    text-align: left;
    
}
.nav_profile_name_wrapper:hover{
    background-color: var(--primary-lg);
    border-width: 0.5px;
    
    
}

#user_full_name{
    margin-top: 5px;
}
#nav_dp{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 4px;
    background-color: var(--primary-w);
    margin-top: 5px;
}
.main_dropdown_a{
    cursor: pointer;
}
#main_dropdown_wrapper{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--primary-lg);
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--primary-mg);
}
#main_dropdown_wrapper:hover{
    border-color: var(--secondary-lg);
}
#dropdown_icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}

#main_dropdown_col_md,#col_md{display: none;}

/* web page body div*/
#page_body{
    height:100vh;
    width: 100%;
    background-color: var(--primary-dg);
    
}
#body_main_row{
    top: 56px;
}
#platform_body{
    margin-top: 56px;
    position: fixed;
    height:100vh;
    background-color: var(--primary-dg);
}
#dropdown_view{
    height: 50vh;
    width: 23.5vw;
    background-color: var(--primary-mg);
    border:solid 0.5px var(--secondary-gra) ;
    position: absolute;
    border-radius: 10px;
    display: none;
}
#dropdown_r1{margin-top: 10px!important;}
#dropdown_r1,#dropdown_r2{
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 5px;
}
#dropdown_r1:hover,#dropdown_r2:hover{
    background-color: var(--primary-lg);
}

#dd_dp{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--primary-w);
}
.UserName{color: var(--primary-w);}
.hint{color: var(--primary-w-hover);}
.feed_back{color: var(--primary-w-hover);}
.sub_font_size{font-size: 12px;}
.dropdown_hr{background-color: var(--primary-w-dis);}

#fb_iconwrapper{
    display: inline-block;
    background-color: var(--primary-lg-dis);
    width: 36px;
    height: 36px;
}
#profile_view_btn,#feedback_view_btn{
    text-decoration: none;
}