:root{
    /*primary colors*/
    --primary-dg:#1E352F;
    --primary-mg:#2D4A42;
    --primary-lg:#35574D;
    --primary-w:#FFFFFF;

    --secondary-gra:#858585;
    --secondary-lg:#14CC0E;

    --accent-ora:#FF8C00;
    --accent-red:#FF0606;
    --accent-bl:#1A82F9;

    /*hover colors*/
    --primary-dg-hover:#142420;
    --primary-mg-hover:#233A34;
    --primary-lg-hover:#2D4941;
    --primary-w-hover:#F2F0F0;

    --secondary-gra-hover:#666565;
    --secondary-lg-hover:#10880C;

    --accent-ora-hover:#B76500;
    --accent-red-hover:#A00505;
    --accent-bl-hover:#124D90;

    /*Disabled colors*/
    --primary-dg-dis:#2B3533;
    --primary-mg-dis:#3A4945;
    --primary-lg-dis:#4D5855;
    --primary-w-dis:#E1DEDE;

    --secondary-gra-dis:#5E5C5C;
    --secondary-lg-dis:#82C580;

    --accent-ora-dis:#FEC279;
    --accent-red-dis:#FC7878;
    --accent-bl-dis:#7FB9FA;
}

.background{
  height: 100vh;
  width: 100%;
  background-image: url(background1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.backdrop{
    height: 100vh;
    width: 100vw;
    background-color:rgba(0, 0,0,0.8);
    
}
.a_activation{
    width: 100%;
    height: 500px;
    background-color: var(--primary-w);
    border-radius: 20px;
    margin-top: 15vh;
}
.a_activation h1{
    text-align: center;
    padding: 20px;
}
.a_activation h4{
    text-align: center;
    padding: 20px;
}
.a_activation img{
    width: 100%;
    height: 100%;
    
}
.row2,.s2row2{
    margin-top: 1vh;
}
/*next button*/
#btn_next1,#btn_next2{
    background-color: var(--accent-bl);
    border-radius: 25px;
    color: var(--primary-w);
    width: 50%;
    outline: none;
}
/*state 2*/
#img_paper,#img_girl{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*states*/

#state2{
    display: none;
}
/**/
